@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#stumbleenh-button {
  list-style-image: url(stumbleupon24-mono.png);
}

toolbar[iconsize="small"] #stumbleenh-button {
  list-style-image: url(stumbleupon16-mono.png);
}

/* Tranformations incl. hover */
#stumbleenh-button image {
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 0.6s;
}
#stumbleenh-button:hover image {
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 2s;
	-moz-transform: rotate(360deg) !important;
}
#stumbleenh-button[stumbleenh] image,
#stumbleenh-button[stumbleenh]:hover image {
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 2s;
	-moz-transform: rotate(90deg) !important;
}
